<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.demondevelopers.notewidget"
	android:versionCode="1"
	android:versionName="1.0"
	>
	
	<uses-sdk
		android:minSdkVersion="8" 
		android:targetSdkVersion="21"
		/>
	
	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:supportsRtl="true"
		tools:ignore="UnusedAttribute"
		>
		
		<activity
			android:name="com.demondevelopers.notewidget.MainActivity"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action   android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:name="com.demondevelopers.notewidget.ConfigActivity"
			android:label="@string/app_name" android:theme="@style/AppTheme.Config"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		
		<receiver android:name="com.demondevelopers.notewidget.NoteWidgetProvider" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_note"
				/>
		</receiver>
		
		<provider
			android:name="com.demondevelopers.notewidget.NoteStorage$Provider"
			android:authorities="com.demondevelopers.notewidget.store"
			android:exported="false"
			/>
		
	</application>
	
</manifest>
