<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="london.devangels.notewidget"
	>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
		>

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action   android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ConfigActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.Config"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<service  android:name=".NoteWidgetService" />

		<receiver android:name=".NoteWidgetService$Provider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_note"
				/>
		</receiver>

		<provider
			android:name=".NoteStorage$Provider"
			android:authorities="${applicationId}.store"
			android:exported="false"
			/>

	</application>

</manifest>
